@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    
    background-color:black;
}
h3{
    color:white;
    font-family: 'DotGothic16', sans-serif;
}

img{
    height:100px;
    cursor:pointer;
}
audio{
    display:none;
}
#go{
    opacity: 0;
}
#world{
   
    height:20px;
    top:160px;
    left:440px;
    position:absolute;
}
#banner{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    position:absolute;
    width:100%;
}
.row{
    padding:0;
    height:20px;

}
.row div{
    
    width:20px;
    height:20px;
    display: inline-block;
}
/* CHARACTERS */
#pacman{
    width:20px;
    height:20px;
    background-image: url(images/pacman.gif);
    background-size: cover;
    background-repeat: no-repeat;
    position:absolute;
}
.brick{
    width:20px;
    height:20px;
    margin:0;
    padding:0;
    background-image: url(images/brick.png);
    background-size: cover;
}
.coins{
    background-image: url(images/coin.gif);
    background-size: cover;
    background-repeat: no-repeat;
}   
.empty{
    background-color:black;
}
.ghost{
    background-image: url(images/monster-red.gif);
    background-size: cover;
    background-repeat: no-repeat;
}   
#ghost{
    width:20px;
    height:20px;
    background-image: url(images/monster-brown.gif);
    background-size: cover;
    background-repeat: no-repeat;
    position:absolute;
}
.cherry{
    background-image: url(images/cherry.png);
    background-size: cover;
    background-repeat: no-repeat;
} 
