@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin:0;
    padding:0;
}
body{
    background-color:green;
}
#background{
    background: url('images/frontyard.png');
    width:1024px;
    height:626px;
}
.banner{
    cursor:pointer;
    background-size: cover;
    position: absolute;
    top:0px;
    left:1027px;
}
img{
    height:240px;
}
.chFighter{
    font-family: 'Bebas Neue', cursive;
    font-size:30px;
    position: absolute;
    top:240px;
    left:1030px;
}
.score{
    z-index:0;
    position: absolute;
    top:0px;
    left:880px;
    
}
.scoreboard{
    height:50px;
}
.plantscore{
    z-index:0;
    position: absolute;
    top:0px;
    left:50px;
}
.plantscoreboard{
    height:50px;
}

.hangedZombie{
    position:absolute;
    width:100px;
    height:100px;
    top:50px;
    left:5px;
}
.hangedZombie2{
    position:absolute;
    width:100px;
    height:100px;
    top:50px;
    left:138px;
}
#scorer{
    position:absolute;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    top:5px;
    left:895px;
    color:#f2f2f2;
}
#level1{
    position:absolute;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    top:5px;
    left:90px;
    color:#f2f2f2;
}
.plant{
    position:absolute;
    background-Image: url('images/peashooter-gif.gif');
    background-size: cover;
    width:100px;
    height:100px;
    top:270px;
    left:1028px;
   
    
}
.plant2{
    position:absolute;
    background-Image: url('images/fumeshroom-gif.gif');
    background-size: cover;
    width:100px;
    height:100px;
    top:270px;
    left:1135px;
}
.plant3{
    position:absolute;
    background-Image: url('images/repeater-gif.gif');
    background-size: cover;
    width:100px;
    height:100px;
    top:270px;
    left:1240px;
}
.plant4{
    position:absolute;
    background-Image: url('images/z4-gif.gif');
    background-size: cover;
    width:100px;
    height:100px;
    top:375px;
    left:1070px;
}
.plant5{
    position:absolute;
    background-Image: url('images/chomper-gif.gif');
    background-size: cover;
    width:100px;
    height:100px;
    top:375px;
    left:1180px;
}
#musicOn{
    z-index: 2;
    font-family: 'Bebas Neue', cursive;
    font-size:20px;
    position: absolute;
    top:580px;
    left:1141px;
    padding:10px 20px 10px 20px;
}
#musicOff{
    z-index:1;
    font-family: 'Bebas Neue', cursive;
    font-size:20px;
    position: absolute;
    top:580px;
    left:1140px;
    padding:10px 20px 10px 20px;
}
#startGame{
    opacity:0;
    cursor:pointer;
    z-index:1;
    font-family: 'Bebas Neue', cursive;
    font-size:20px;
    position: absolute;
    top:470px;
    left:1060px;
    padding:10px 20px 10px 20px;
}
#startGame img{
    height:90px;
}
.bullet{
    position:absolute;
    background-image: url('images/bullet.png');
    background-size: cover;
    width:30px;
    height:30px;
}
.zombie{
    position:absolute;
    background-Image: url('images/zombie.gif');
    background-size: cover;
    width:100px;
    height:100px;
}
.zombie2{
    position:absolute;
    background-Image: url('images/zombie-3.gif');
    background-size: cover;
    width:54px;
    height:100px;
}