@import url('https://fonts.googleapis.com/css2?family=Lekton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
*{
    margin:0;
    border:0;
}

body{
    background-color:#4B371C;
}
.banner{
    cursor:pointer;
    position: absolute;
    top:0px;
    left:1027px;
    
    padding:5px;
    border-radius: 32px;
}
.instructions{
    text-justify: auto;
    font-family: 'DotGothic16', sans-serif;
    color:white;
    font-size:20px;
    position: absolute;
    top:150px;
    left:1029px;
    
    padding:5px;
    border-radius: 32px;
    width:300px;
}
img{
    height:100px;
}
#container{
    background: url('Images/bgv2.png');
    width:1000px;
    height:550px;
}

#hero{
    background-image: url('Images/spaceship.gif');
    background-size: cover;
    width:50px;
    height:50px;
    position:absolute;
}

.enemy1{
    background: url('Images/1942.gif');
    background-position: -30px -10px;
    width:28px;
    height:28px;
    position:absolute;
}

.motherShip{
    background-image: url('Images/plane.png');
    background-size: cover;
    width:450px;
    height:250px;
    position:absolute;
    opacity: 1;
}

.bullet{
    background: url('Images/1942.gif');
    background-position: -185px -400px;
    width:18px;
    height:18px;
    position:absolute;
}

.explosionEffect{
    /* background: url('Images/1942.gif');
    background-position: -30px -10px; */
    background: url('Images/explosion.gif');
    background-size: cover;
    width:28px;
    height:28px;
    position:absolute;
}

#score{
    position:absolute;
    top:20px;
    left:850px;
    color:#f2f2f2;
    font-size:20px;
    font-family: 'Lekton', sans-serif;
}

#title{
    position:absolute;
    top:20px;
    left:50px;
    color:#f2f2f2;
    font-size:20px;
    font-family: 'Lekton', sans-serif;
}

#gameOver{
    position:absolute;
    top:200px;
    left:290px;
    color:#f2f2f2;
    font-size:90px;
    font-family: 'Lekton', sans-serif;
    opacity: 0;
}
#youWon{
    position:absolute;
    top:200px;
    left:290px;
    color:#f2f2f2;
    font-size:90px;
    font-family: 'Lekton', sans-serif;
    opacity: 0;
}
#refresh{
    position:absolute;
    top:320px;
    left:275px;
    color:#f2f2f2;
    font-size:25px;
    font-family: 'Lekton', sans-serif;
    opacity: 0;
}
#enemies{
    opacity:1;
}

